<div class="end">
<div class="background">
  <div >
    <div class="core">

      <div class="image-box">
        <div id="top">
          <img src="assets/logo.png" width="200px">
          <h2>Satsuma Sushi</h2>
          <p>
            is
          </p>
          <p>
            traditional Japanese dining
          </p>
          <p>
            <a [scrollTo]="'.aboutus'" [scrollDuration]="300" [scrollOffset]="-72" class="fa fa-angle-double-down" style="font-size:48px;color:white"></a>
          
          </p>
      
        </div>
      
      
      </div>



    <div class="container">
      <div class="aboutus row">
        <div class="profile col-md-6">
          <img class="satsuma1" src="assets/satsuma1.jpg">


        </div>

        <div class="about col-md-6">
          <h1>SASTUMA SUSHI</h1>

          <p>
            Konichiwa! Welcome to Satsuma Japanese Restaurant! We are pleased to announce our 20th years of serving the Bay Area with
            an authentic Japanese food experience. Please feel free to browse through our assorted selection featuring a wide variety
            of fresh sashimi and sushi rolls. To-go orders are always welcome, so don't hesitate to give us a call.
          </p>

          <h2>Mountain View</h2>
          <br>
          <h4>Address</h4>
          <h5>
             705 E El Camino Real, Mountain View, CA 94040 650.966.1122
          </h5>
          <br>
          <br>
          <h4>Opening Hours</h4>
          <h5>
            Monday ~ Friday
          </h5>
          <p>
            11:00am ~ 2:00pm,   5:00pm ~ 9:30pm
          </p>
          <br>
          <h5>
            Saturday ~ Sunday
          </h5>
          <p>
            5:00pm ~ 9:30pm
          </p>
          

        </div>
      </div>
    </div>
  </div>