<!-- <div class="image-box">
  <div id="top">
    <img src="/assets/logo.png" width="200px">
    <h2>Satsuma Sushi</h2>
    <p>
      is
    </p>
    <p>
      traditional Japanese dining
    </p>

  </div>


</div> -->



<div id="mySidenav" class="sidenav">
  <a id="rolls" [scrollTo]="'.rollspace'" [scrollDuration]="300" [scrollOffset]="0">Rolls</a>

  <a id="sashimi" [scrollTo]="'.sashimispace'" [scrollDuration]="300" [scrollOffset]="0">Sashimi</a>
  <a id="nigiri" [scrollTo]="'.nigirispace'" [scrollDuration]="300" [scrollOffset]="0">Nigiri</a>
  <a id="kitchen" [scrollTo]="'.kitchenspace'" [scrollDuration]="300" [scrollOffset]="0">Kitchen</a>
</div>





<div id="myCarousel" class="homeCarousel carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- <h1 class="heading">Welcome to Satsuma Sushi</h1> -->

    <div class="item active">
      <img src="assets/sushi1.jpg">
      <div class="carousel-caption">
        <h3>Chirashi</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="assets/sushi2.jpg">
      <div class="carousel-caption">
        <h3>Jazz Roll</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="assets/sushi3.jpg">
      <div class="carousel-caption">
        <h3>Ika Skewers</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <img src="assets/sushi4.jpg">
      <div class="carousel-caption">
        <h3>Sashimi</h3>
        <p></p>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="header">
  <h1>Gallery</h1>




</div>


<div class="rollspace">
  <h1>ROLLS</h1>




</div>


<div class="container">
  <div class="row">
    <div id="rollCarousel" class="galleryRollCarousel carousel slide col-md-3" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#rollCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#rollCarousel" data-slide-to="1"></li>
        <li data-target="#rollCarousel" data-slide-to="2"></li>
        <li data-target="#rollCarousel" data-slide-to="3"></li>
        <li data-target="#rollCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="assets/dynastyroll.jpg">
          <div class="carousel-caption">
            <h3>1.
            </h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="assets/megabyteroll.jpg">
          <div class="carousel-caption">
            <h3>2.</h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="assets/sakuraroll.jpg">
          <div class="carousel-caption">
            <h3>3.</h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="assets/vicroll.jpg">
          <div class="carousel-caption">
            <h3>4.</h3>
            <p></p>
          </div>
        </div>

        <div class="item">
          <img src="assets/volcanoroll.jpg">
          <div class="carousel-caption">
            <h3>5.</h3>
            <p></p>
          </div>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#rollCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#rollCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="rolllist col-md-4">
      <h1>Our Top 5 Roll</h1>
      <ol>
        <li>Dynasty Roll</li>
        <p>salmon tuna saf asf a saf sakf kjlkasf l </p>
        <li>MegaByte Roll</li>
        <p>salmon tuna saf asf a saf sakf kjlkasf l </p>
        <li>Sakura Roll</li>
        <p>salmon tuna saf asf a saf sakf kjlkasf l </p>
        <li>Victoria Secret Roll</li>
        <p>salmon tuna saf asf a saf sakf kjlkasf l </p>
        <li>Volcano Roll</li>
        <p>salmon tuna saf asf a saf sakf kjlkasf l </p>
      </ol>


    </div>

  </div>
</div>


<div class="sashimispace">
  <h1>SASHIMI</h1>

</div>


<div class="row">
  <div id="sashimiCarousel" class="gallerySashimiCarousel carousel slide col-md-3" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
      <li data-target="#sashimiCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#sashimiCarousel" data-slide-to="1"></li>
      <li data-target="#sashimiCarousel" data-slide-to="2"></li>
      <li data-target="#sashimiCarousel" data-slide-to="3"></li>
      <li data-target="#sashimiCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="assets/sashimi1.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/sashimi2.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/sashimi3.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/sashimi4.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/sashimi5.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#sashimiCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#sashimiCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




</div>


<div class="nigirispace">
  <h1>NIGIRI</h1>

</div>



<div class="row">
  <div id="nigiriCarousel" class="galleryNigiriCarousel carousel slide col-md-3" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#nigiriCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#nigiriCarousel" data-slide-to="1"></li>
      <li data-target="#nigiriCarousel" data-slide-to="2"></li>
      <li data-target="#nigiriCarousel" data-slide-to="3"></li>
      <li data-target="#nigiriCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="assets/nigiri1.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/nigiri2.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/nigiri3.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/nigiri4.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/nigiri5.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#nigiriCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#nigiriCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




</div>



<div class="kitchenspace">
  <h1>Kitchen</h1>

</div>

<div class="row bottom">
  <div id="kitchenCarousel" class="galleryKitchenCarousel carousel slide col-md-3" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#kitchenCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#kitchenCarousel" data-slide-to="1"></li>
      <li data-target="#kitchenCarousel" data-slide-to="2"></li>
      <li data-target="#kitchenCarousel" data-slide-to="3"></li>
      <li data-target="#kitchenCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="assets/kitchen1.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/kitchen2.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/kitchen3.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/kitchen4.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="assets/kitchen5.jpg">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#kitchenCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#kitchenCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>




</div>